<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Translate</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'translate-x-0', 
            'translate-x-2', 
            'translate-x-4', 
            '-translate-x-6', 
        ].forEach(x => { %>
        <div class="relative">
            <div class="<%= x %> border-black border-2 mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="absolute top-0 left-[calc(50%-32px)] w-16 h-16 p-8 bg-rose-500 opacity-25"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
    <div class="text-center mt-4">Horizontal</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'translate-y-0', 
            'translate-y-2', 
            'translate-y-4', 
            '-translate-y-6', 
        ].forEach(x => { %>
        <div class="relative">
            <div class="<%= x %> border-black border-2 mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="absolute top-0 left-[calc(50%-32px)] w-16 h-16 p-8 bg-rose-500 opacity-25"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
    <div class="text-center mt-4">Vertical</div>
</div>