<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Width</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'border', 
            'border-2', 
            'border-4',
            'border-8',
        ].forEach(x => { %>
        <div>
            <div class="<%= x %> border-black mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
    <div class="text-center mt-4">All sides</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'border-t-4', 
            'border-r-4', 
            'border-b-4',
            'border-l-4',
        ].forEach(x => { %>
        <div>
            <div class="<%= x %> border-black mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
    <div class="text-center mt-4">One sides</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'border-x-4', 
            'border-y-4', 
        ].forEach(x => { %>
        <div>
            <div class="<%= x %> border-black mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
    <div class="text-center mt-4">Axel sides</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="divide-y divide-black">
        <div class="text-center bg-white p-4">01</div>
        <div class="text-center bg-white p-4">02</div>
        <div class="text-center bg-white p-4">03</div>
        <div class="text-center bg-white p-4">04</div>
    </div>
    <div class="text-center mt-4">Divide Y</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="divide-x divide-black grid grid-cols-4">
        <div class="text-center bg-white p-4">01</div>
        <div class="text-center bg-white p-4">02</div>
        <div class="text-center bg-white p-4">03</div>
        <div class="text-center bg-white p-4">04</div>
    </div>
    <div class="text-center mt-4">Divide X</div>
</div>